HTTP_ADDR=:8080
APP_ENV=production

CORS_WEB=https://ecomerce.nvnhan0810.com
CORS_MERCHANT=https://ecomerce-merchant.nvnhan0810.com
CORS_ADMIN=https://ecomerce-admin.nvnhan0810.com

DB_HOST=192.168.100.28
DB_PORT=5432
DB_DATABASE=nvnhan0810_ecomerce
DB_USERNAME=nvnhan0810
DB_PASSWORD=
DB_SSLMODE=disable

DB_AUTO_MIGRATE=true
DB_SEED=true

JWT_SECRET=change-me-to-a-long-random-secret
JWT_TTL_HOURS=24
ADMIN_BOOTSTRAP_PASSWORD=Admin@123456
